@import 'utils/Colors.scss';

.filters {
	max-width: 22%;

	.prod-categories {
		border: 1px solid $border-color;
		margin-top: 40px;
		padding: 24px 20px 32px;

		.cat-title {
			font-weight: bold;
			font-size: 16px;
			line-height: 24px;
			color: $purple;
			margin-bottom: 20px;
		}
	
		.cat-list {
			list-style: none;
			padding: 0;
			margin: 0;
	
			#parent-category {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 20px;

				p {
					font-size: 16px;
					line-height: 17px;
					margin: 0;
					cursor: pointer;
				}

				#icon {
					width: 8px;
					height: 8px;
					cursor: pointer;
				}
			}

			.active {
				color: $purple;
				font-weight: bold;
			}

			.inactive {
				color: $black;
			}
		}
	}
}

.product-view {
	min-width: 75%;

	.expand {
		text-align: center;
		margin-bottom: 80px;

		.explore-btn {
			padding: 12px 40px;
			font-weight: 700;
			font-size: 16px;
			line-height: 27px;
			color: $white;
			letter-spacing: 0.63px;
			background-color: $purple;
			border: 3px solid $white;
		}
	
		.explore-btn:hover,
		.explore-btn:focus {
			background-color: $white;
			border: 3px solid $purple;
			color: $purple;
			transition: all 0.3s;
		}
	}
}
