@import 'utils/Colors.scss';

.filters {
	max-width: 22%;

	.prod-categories {
		border: 1px solid $border-color;
		margin-top: 40px;
		padding: 24px 20px 32px;

		.cat-title {
			font-weight: bold;
			font-size: 16px;
			line-height: 24px;
			color: $purple;
			margin-bottom: 20px;
		}
	
		.cat-list {
			list-style: none;
			padding: 0;
			margin: 0;
	
			#parent-category {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 20px;

				p {
					font-size: 16px;
					line-height: 17px;
					margin: 0;
					cursor: pointer;
				}

				#icon {
					width: 8px;
					height: 8px;
					cursor: pointer;
				}
			}

			.active {
				color: $purple;
				font-weight: bold;
			}

			.inactive {
				color: $black;
			}
		}
	}
}

.product-view {
	min-width: 75%;

	.sorting-view {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;

		.sorting-menu {
			margin: 40px 35px 0px;

			.btn-check:active+.btn-primary:focus, 
			.btn-check:checked+.btn-primary:focus, 
			.btn-primary.active:focus, 
			.btn-primary:active:focus,
			.btn-check:focus+.btn-primary, 
			.btn-primary:focus,
			.show>.btn-primary.dropdown-toggle:focus {
				outline: none;
				box-shadow: none;
			}

			#dropdown-basic {
				background-color: $white;
				color: $black;
				width: 260px;
				text-align: left;
				border: 2px solid $border-color;
				border-radius: 0;
			}


			.dropdown-toggle::after {
				text-align: right;
				margin-left: 100px;
			}

			.dropdown-menu {
				width: 260px;
				text-align: left;
				border-radius: 0;
				margin-top: -3px;

				.dropdown-item:focus, .dropdown-item:hover {
					background-color: $purple;
					color: $white;
				}
			}
		}

		.view-button {
			margin-right: 20px;
			background-color: $white;
			border: none;
			color: $light-gray;
			font-weight: bold;

			.view-icon {
				margin-right: 8px;
			}
		}

		.active, .view-button:hover {
			color: $purple;
		}
	}

	.expand {
		text-align: center;
		margin-bottom: 80px;

		.explore-btn {
			padding: 12px 40px;
			font-weight: 700;
			font-size: 16px;
			line-height: 27px;
			color: $white;
			letter-spacing: 0.63px;
			background-color: $purple;
			border: 3px solid $white;
		}
	
		.explore-btn:hover,
		.explore-btn:focus {
			background-color: $white;
			border: 3px solid $purple;
			color: $purple;
			transition: all 0.3s;
		}
	}
}
