.about {
  padding-top: 60px;
  padding-bottom: 120px;
}

.about h2 {
  margin-bottom: 60px;
  color: black;
}

.about p {
  color: #857f7f;
}

.images .first-row img{
  margin-top: 100px;
  margin-bottom: 25px;
}

.images .second-row img {
  width: 250px;
  height: 200px;
}
