@import 'utils/Colors.scss';

.payment-modal {

	.modal-header {
		background-color: $extra-light-gray;
		text-align: center;

		.modal-title {
			font-size: 22px;
			line-height: 27px;
			color: $shadow;
			text-transform: uppercase;
		}
	}

	.table {

		td,
		th {
			padding: 15px;
			display: table-cell;
		}

		border: 1px solid $border-color;
		padding: 20px;

		tbody,
		td,
		tfoot,
		th,
		thead,
		tr {
			border: none;
			vertical-align: middle;
		}

		thead {
			background-color: $extra-light-gray;

			th {
				font-weight: 400;
				font-size: 18px;
				line-height: 27px;
				color: $black;
				border-bottom: none;
			}
		}
	}

	.input_wrap {
		padding: 10px 50px;
	
		.input_wrap:last-child {
			margin-bottom: 0;
		}

		label {
			display: block;
			margin-bottom: 5px;
			font-size: 18px;
			line-height: 27px;
			color: $black;
		}

		.input {
			padding: 12px;
			width: 100%;
			font-size: 16px;
			border: 1px solid $border-color;
			outline: none;
			background-color: $extra-light-gray;
		}

		.credit-input {
			p {
				text-align: left;
				margin-bottom: 10px;
			}

			.credit-cards img {
				width: 50px;
				height: 35px;
				margin-right: 10px;
			}
		}
	}

	.flex-date {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		div {
			width: 100%;
		}
	}

	.modal-footer {
		justify-content: center;

		.submit {
			text-align: center;
	
			.submit-btn {
				background-color: $white;
				border: 1px solid $purple;
				color: $purple;
				width: 250px;
				border-radius: 0;
				font-weight: bold;
			}
	
			.submit-btn:hover {
				background-color: $purple;
				color: $white;
				transition: all 0.5s;
			}
		}
	}

	span {
		color: $error-red;
		font-weight: 500;
	}
}
