@import 'utils/Colors.scss';

.bidders {
	margin: 200px 0;

	.table {

		td,
		th {
			padding: 15px;
			display: table-cell;
		}

		border: 1px solid $border-color;
		padding: 20px;

		tbody,
		td,
		tfoot,
		th,
		thead,
		tr {
			border: none;
			vertical-align: middle;
		}

		thead {
			background-color: $extra-light-gray;

			th {
				font-weight: bold;
				font-size: 18px;
				line-height: 27px;
				color: $black;
				border-bottom: none;
			}
		}

		.bidders-list {

			font-size: 18px;
			line-height: 27px;
			letter-spacing: 0.63px;

			.title {
				display: flex;
				justify-content: flex-start;
				align-items: center;
			}

			img {
				border-radius: 80px;
				width: 64px;
				height: 64px;
				margin-right: 10px;
			}

			.bid-amount {
				color: $green;
				font-weight: bold;
			}
		}
	}
}
