$black: #000000;
$white: #FFFFFF;
$light-gray: #857f7f;
$shadow: #857f7fbb;
$purple: #8367D8;
$light-purple: #937ae6;
$extra-light-gray: #FCFCFC;
$border-color: #D8D8D8;
$green: #417505;
$blue: #1d5aaa;
$dirty-white: #E3E3E3;
$error-red: #e22932;
$orange: #da9a3a;
