@import 'utils/Colors.scss';

.header-area {
	width: 100%;
	padding: 5px 0;
}

.black-header {
	background-color: $black;
}

.white-header {
	background-color: $white;

	.row {
		align-items: center;
		justify-content: space-between;
	}
}

.header-right {
	justify-content: flex-end;
	align-items: baseline;
	color: $light-gray;
	text-align: right;
	padding-top: 3px;
	padding-right: 0;

	a,
	button {
		text-decoration: none;
		color: $white;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 17px;
	}

	a:hover,
	button:hover,
	a:focus,
	button:focus {
		text-decoration: underline;
		color: $white;
	}

	button {
		background-color: $black;
		border: none;
	}
}

.or-span {
	margin: 0 20px;
}

.logo img {
	width: 160px;
	height: 50px;
}

.wr-header {
	padding-right: 0;
	text-align: right;
	display: flex;
	align-items: center;
	justify-content: flex-end;

	.btn-check:active+.btn-primary:focus, 
	.btn-check:checked+.btn-primary:focus, 
	.btn-primary.active:focus, 
	.btn-primary:active:focus,
	.btn-check:focus+.btn-primary, 
	.btn-primary:focus,
	.show>.btn-primary.dropdown-toggle:focus {
		outline: none;
		box-shadow: none;
	}

	#dropdown-basic {
		background-color: $white;
		border: none;
	}

	.dropdown-toggle::after {
		text-align: right;
		margin-left: 10px;
		color: $purple;
	}

	.dropdown-menu {
		text-align: left;
		border-radius: 0;
		margin-top: -3px;
		margin-left: 25px;

		.dropdown-item:focus, .dropdown-item:hover {
			background-color: $purple;
			color: $white;
		}
	}
	

	a {
		text-decoration: none;
		font-style: normal;
		font-weight: 300;
		font-family: Lato;
		font-size: 16px;
		line-height: 19px;
		color: $black;
		margin-left: 45px;
	}

	a:hover,
	a:focus {
		color: $purple;
	}

	.active {
		font-weight: bold;
		color: $purple;
	}

	.row .col-4 {
		padding-right: 0;
	}
}
