.header-area {
	width: 100%;
	padding: 5px 0;
}

.black-header {
	background-color: #252525;
}

.white-header {
	background-color: #FFF;

	.row {
		align-items: center;
		justify-content: space-between;
	}
}

.header-right {
	justify-content: flex-end;
	align-items: baseline;
	color: #9B9B9B;
	text-align: right;
	padding-top: 3px;
	padding-right: 0 !important;

	a {
		text-decoration: none;
		color: #FFF;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 17px;
	}

	a:hover,
	a:focus {
		text-decoration: underline;
		color: #FFF;
	}
}

.or-span {
	margin: 0 20px;
}

.logo img {
	width: 160px;
	height: 50px;
}

.wr-header {
	padding-right: 0 !important;
	text-align: right;

	a {
		text-decoration: none;
		font-style: normal;
		font-weight: 300;
		font-family: Lato;
		font-size: 16px;
		line-height: 19px;
		color: #252525;
		margin-left: 45px;
	}

	a:hover,
	a:focus {
		color: #8367D8;
	}

	.active {
		font-weight: bold;
		color: #8367D8;
	}

	.row .col-4 {
		padding-right: 0;
	}
}
