@import 'utils/Colors.scss';

.remember-box {
	display: -webkit-inline-box;

	label {
		margin-left: 10px;
	}

	input[type=checkbox] {
		border: 1px solid $border-color;
		outline: none;
		background-color: $extra-light-gray;
	}
}
