.text-container {
  width: 50%;
  margin: auto;
  padding: 60px 0 120px;
  min-height: 70vh;
}

.text-container h2 {
  margin-bottom: 60px;
}

.text-container h4 {
  margin: 30px 0;
}

.text-container a {
  text-decoration: none;
}

.text-container p, .text-container li {
  color: #857f7f;
}